body {
  font-family: 'Poppins', sans-serif !important;
  background: #fafafa;
}

.navbar-btn {
  box-shadow: none;
  outline: none !important;
  border: none;
}

/* ---------------------------------------------------
  SIDEBAR STYLE
----------------------------------------------------- */
#sidebar {
  max-width: 250px;
  min-width: 250px;
  top: 0;
  left: 0;
  min-height: 100%;
  z-index: 999;
  background: #111;
  color: #fff;
  transition: all 0.6s cubic-bezier(0.945, 0.020, 0.270, 0.665);
  transform-origin: bottom left;
}

#sidebar a, a:hover, a:focus {
  color: white;
  text-decoration: none;
  transition: all 0.3s;
  text-decoration: none !important;
}

#sidebar.active  {
  margin-left: -250px;
  transform: rotateY(100deg); 
}

#sidebar .sidebar-header {
  padding: 20px;
  background: #111;
  text-align: center;
}

#sidebar ul.components {
  padding: 5px 0;
}

#sidebar ul p {
  color: #fff;
  padding: 0;
  margin-left: 10px;
}

#sidebar ul li a {
  padding: 2 10px;
  font-size: 1.1em;
  display: block;
}
#sidebar ul li a:hover {
  color: #fff;
  background: #222;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
  color: #111 !important;
  background: #fff;
}

#sidebar ul li.active  ul li a:hover > a, nav a[aria-expanded="true"] {
  color: #111 !important;
  background: #fff !important;
}

#sidebar-menu {
  max-height: 70vh;
  overflow-y: hidden;
}

a[data-toggle="collapse"] {
  position: relative;
}


ul ul a {
  font-size: 0.9em !important;
  padding-left: 30px !important;
}

ul.CTAs {
  padding: 20px;
}

ul.CTAs a {
  text-align: center;
  font-size: 0.9em !important;
  display: block;
  border-radius: 5px;
  margin-bottom: 5px;
}
a.download {
  background: #fff;
  color: #111 !important;
  text-decoration: none !important;
}
a.download:hover {
  background: white !important;
  border: 1px solid #222;
  text-decoration: none !important;
}

.fa {
  margin: 0 15px;
  width: 10px;
}

.wrapper {
  display: flex;
  align-items: stretch;
  perspective: 1500px;
}

/* ---------------------------------------------------
  CONTENT STYLE
----------------------------------------------------- */
#content {
  padding: 20px;
  min-height: 100vh;
  transition: all 0.3s;
}

#sidebarCollapse {
  width: 40px;
  height: 40px;
}

#sidebarCollapse span {
  width: 80%;
  height: 2px;
  margin: 0 auto;
  display: block;
  background: #555;
  transition: all 0.8s cubic-bezier(0.810, -0.330, 0.345, 1.375);
  transition-delay: 0.2s;
}

#sidebarCollapse span:first-of-type {
  transform: rotate(45deg) translate(2px, 2px);
}
#sidebarCollapse span:nth-of-type(2) {
  opacity: 0;
}
#sidebarCollapse span:last-of-type {
  transform: rotate(-45deg) translate(1px, -1px);
}


#sidebarCollapse.active span {
  transform: none;
  opacity: 1;
  margin: 5px auto;
}


/* ---------------------------------------------------
  MEDIAQUERIES
----------------------------------------------------- */
@media (max-width: 1068px) {
  #sidebar {
      margin-left: -250px;
      transform: rotateY(90deg);
  }
  #sidebar.active {
      margin-left: 0;
      transform: none;
  }
  #sidebarCollapse span:first-of-type,
  #sidebarCollapse span:nth-of-type(2),
  #sidebarCollapse span:last-of-type {
      transform: none;
      opacity: 1;
      margin: 5px auto;
  }
  #sidebarCollapse.active span {
      margin: 0 auto;
  }
  #sidebarCollapse.active span:first-of-type {
      transform: rotate(45deg) translate(2px, 2px);
  }
  #sidebarCollapse.active span:nth-of-type(2) {
      opacity: 0;
  }
  #sidebarCollapse.active span:last-of-type {
      transform: rotate(-45deg) translate(1px, -1px);
  }

}


/* ---------------------------------------------------
  TABLES
----------------------------------------------------- */
.btable {
  overflow-x: auto;
}
